{:remove-multiple-non-indenting-spaces? false ; enable this when cljfmt supports aligning let forms
 :sort-ns-references?                   true
 :parallel?                             true
 :extra-indents
 {go-try [[:block 0]]
  try*   [[:block 0]]
  catch* [[:block 1]]
  info!  [[:block 2]]}}
