{:remove-multiple-non-indenting-spaces? false ; enable this when cljfmt supports aligning let forms
 :sort-ns-references?                   true
 :parallel?                             true
 :extra-indents
 {assoc  [[:inner 0]] ; makes pairs indent under assoc instead of map arg
  go-try [[:block 0]] ; makes go-try indent like go
  try*   [[:block 0]] ; makes try* indent like try
  catch* [[:block 1]]}} ; makes catch* indent like catch (but w/o exception type identifier)
