{:remove-multiple-non-indenting-spaces? false ; enable this when cljfmt supports aligning let forms
 :sort-ns-references?                   true
 :parallel?                             true
 :extra-indents
 {go-try [[:block 0]]
  try*   [[:block 0]]
  catch* [[:block 1]]
  form   [[:block 2]]
  info!  [[:block 2]]
  debug! [[:block 2]]
  async-form [[:block 2]]
  async-with-context [[:block 2]]}}
