/tmp
/.idea
/target
/build
/classes
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.iml
.DS_Store
default-private-key.txt
/resources/build
/dev/build
figwheel_server.log
.cpcache
**node_modules
package-lock.json
/out/*
!/out/.gitkeep
/resources/public/js/compiled
/cljs-test-runner-out/*
/pom.xml
/.clj-kondo/.cache
/.eastwood
/scanning_results
.dir-locals.el
.cljs_node_repl
.shadow-cljs
/js-packages/browser/fluree-browser-sdk.js
/js-packages/nodejs/fluree-node-sdk.js
/js-packages/webworker/fluree-webworker.js
**cljs-runtime
**report.html
test/nodejs/store
/dev/data/*
/dev-resources/openflights/raw/
/dev-resources/openflights/warehouse/
