{:output-to          "js/webworker/webpack.js"
 :output-dir         "js/webworker/build"
 :target             :bundle
 :main               flureeworker
 :optimizations      :advanced
 :pretty-print       false
 :pseudo-names       false
 :infer-externs      true
 :optimize-constants false
 :externs            ["sjcl-externs.js"]
 :install-deps       true
 :npm-deps           {}
 :bundle-cmd         {:none    ["npx" "webpack" "--config" "./webpack.webworker.config.js" "--mode=development"]
                      :default ["npx" "webpack" "--config" "./webpack.webworker.config.js"]}
 :closure-defines {cljs.core/*global* "self"}}
