{:output-to          "js/browser/webpack.js"
 :output-dir         "js/browser/build"
 :target             :bundle
 :main               flureedb
 :optimizations      :advanced
 :optimize-constants false
 :pretty-print       false
 :pseudo-names       false
 :infer-externs      true
 :externs            ["sjcl-externs.js"]
 :install-deps       true
 :npm-deps           {}
 :bundle-cmd         {:none    ["npx" "webpack" "--config" "./webpack.browser.config.js" "--mode=development"]
                      :default ["npx" "webpack" "--config" "./webpack.browser.config.js"]}
 :closure-defines    {cljs.core/*global* "window"}}
