{:target        :nodejs
 :output-to     "out/nodejs/flureenjs.js"
 :output-dir    "out/nodejs/build"
 :main          flureenjs
 :optimizations :simple
 :pretty-print  false
 :install-deps  true
 :npm-deps      {}}
