{:output-to          "out/test/index.js"
 :output-dir         "out/test"
 :target             :bundle
 :bundle-cmd         {:none    ["npx" "webpack" "--config" "./webpack.test.config.js" "--mode=development"]
                      :default ["npx" "webpack" "--config" "./webpack.test.config.js"]}
 :closure-defines    {cljs.core/*global* "window"}
 :optimizations      :advanced
 :externs            ["sjcl-externs.js"]
 :pseudo-names       true
 :pretty-print       true
 :infer-externs      true}
