{:output-to     "out/browser/flureedb.js"
 :output-dir    "out/browser/build"
 :main          flureedb
 :optimizations :advanced
 :pretty-print  false
 :infer-externs true
 :install-deps  true
 :npm-deps      {}
 :bundle-cmd {:none ["npx" "webpack" "out/browser/index.js" "-o" "out/browser/main.js" "--mode=development"]
              :default ["npx" "webpack" "out/browser/index.js" "-o" "out/browser/main.js"]}
 :closure-defines {cljs.core/*global* "window"}}