{:deps  {org.clojure/clojure             {:mvn/version "1.10.3"}
         org.clojure/clojurescript       {:mvn/version "1.10.879"}
         org.clojure/core.async          {:mvn/version "1.3.622"}
         org.clojure/core.cache          {:mvn/version "1.0.217"}
         org.clojars.mmb90/cljs-cache    {:mvn/version "0.1.4"}
         org.clojure/data.avl            {:mvn/version "0.1.0"}
         org.clojure/data.xml            {:mvn/version "0.2.0-alpha6"}
         environ/environ                 {:mvn/version "1.2.0"}
         byte-streams/byte-streams       {:mvn/version "0.2.4"}
         cheshire/cheshire               {:mvn/version "5.10.1"}
         instaparse/instaparse           {:mvn/version "1.4.10"}

         ;; logging
         org.clojure/tools.logging           {:mvn/version "1.1.0"}
         logback-bundle/core-bundle          {:mvn/version "0.3.0"}
         org.slf4j/slf4j-api                 {:mvn/version "1.7.32"}

         ;; Lucene
         clucie/clucie                       {:mvn/version "0.4.2"}

         ;; http
         http-kit/http-kit                   {:mvn/version "2.5.3"}
         com.fluree/http.async.client        {:mvn/version "1.3.1-7-0xf9fd"}

         ;; benchmarking
         criterium/criterium                 {:mvn/version "0.4.6"}

         ;; serialization / compression
         com.damballa/abracad                {:mvn/version "0.4.13"}
         com.taoensso/nippy                  {:mvn/version "3.1.1"}
         org.xerial.snappy/snappy-java       {:mvn/version "1.1.8.4"}
         com.fluree/alphabase                {:mvn/version "3.2.1"}

         ;; cryptography
         com.fluree/crypto                   {:mvn/version "0.3.6"}
         org.bouncycastle/bcprov-jdk15on     {:mvn/version "1.69"}}

 :paths ["src" "resources"]

 :aliases
 {:mvn/group-id    com.fluree
  :mvn/artifact-id db
  :mvn/version     "1.0.0-rc28" ; Change this down in the docs alias too!

  :dev
  {:extra-paths ["dev" "src-cljs" "src-nodejs" "src-docs"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                figwheel-sidecar/figwheel-sidecar {:mvn/version "0.5.20"}}}

  :cljstest
  {:extra-paths ["test"]
   :extra-deps  {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :main-opts   ["-m" "cljs-test-runner.main"
                 "-D" "doo.edn"
                 "-c" "build-test.edn"
                 "-x" "chrome-headless"]}

  :cljtest
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha    {:mvn/version "1.0.887"}
                 org.clojure/test.check {:mvn/version "1.1.0"}}
   :main-opts   ["-m" "kaocha.runner"]}

  :js-deps
  {:extra-deps {com.timetraveltoaster/target-bundle-libs {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "target-bundle-libs.core"]}

  :nodejs
  {:extra-paths ["src-nodejs"]
   :main-opts   ["-m" "cljs.main" "--compile-opts" "build-nodejs.edn" "--compile"]}

  :browser
  {:extra-paths ["src-cljs"]
   :main-opts   ["-m" "cljs.main" "--compile-opts" "build-browser.edn" "--compile"]}

  :webworker
  {:extra-paths ["src-cljs"]
   :main-opts   ["-m" "cljs.main" "--compile-opts" "build-webworker.edn" "--compile"]}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:jar         "target/fluree-db.jar"
                  :group-id    :mvn/group-id
                  :artifact-id :mvn/artifact-id
                  :version     :mvn/version
                  :sync-pom    true}}

  :install
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :main-opts    ["-m" "deps-deploy.deps-deploy" "install"
                  "target/fluree-db.jar"]}

  :docs
  {:extra-deps  {codox/codox {:mvn/version "0.10.7"}}
   :exec-fn     codox.main/generate-docs
   :exec-args   {:namespaces  [fluree.db.api]
                 :description "Fluree DB Clojure API Documentation"
                 :name        com.fluree/db
                 ;; TODO: Eliminate this copy of the version string
                 ;; Hopefully they'll address this upstream:
                 ;; https://github.com/weavejester/codox/issues/204
                 :version     "1.0.0-rc28"
                 :output-path "docs"}}

  :deploy
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :main-opts    ["-m" "deps-deploy.deps-deploy" "deploy"
                  "target/fluree-db.jar"]}

  :meta
  {:main-opts ["-m" "fluree.db.meta"]}

  :coverage
  {:extra-paths ["test"]
   :extra-deps  {cloverage/cloverage {:mvn/version "1.2.2"}}
   :main-opts   ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--output" "scanning_results/coverage"]}

  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "0.9.9"}}
   ;; Remove the exclude-linter for :def-in-def below
   ;; when the SCI smartfunctions runner lands. It's
   ;; only there for the `defn` inside
   ;; `fluree.db.dbfunctions.core/parse-fn`, which will
   ;; hopefully go away w/ the SCI change.
   ;; - WSM 2021-09-13
   :main-opts  ["-m" "eastwood.lint"
                {:source-paths    ["src" "src-docs"]
                 :test-paths      ["test"]
                 :exclude-linters [:def-in-def]}]}

  :ancient
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.09.15"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "--config" ".clj-kondo/config.edn"]}}}

