{:deps  {org.clojure/clojure               {:mvn/version "1.10.2"}
         org.clojure/clojurescript         {:mvn/version "1.10.773"}
         org.clojure/core.async            {:mvn/version "1.3.610"}
         org.clojure/core.cache            {:mvn/version "1.0.207"}
         org.clojars.mmb90/cljs-cache      {:mvn/version "0.1.4"}
         org.clojure/data.avl              {:mvn/version "0.1.0"}
         org.clojure/tools.reader          {:mvn/version "1.3.4"}
         environ/environ                   {:mvn/version "1.2.0"}
         byte-streams/byte-streams         {:mvn/version "0.2.4"}
         cheshire/cheshire                 {:mvn/version "5.10.0"}
         instaparse/instaparse             {:mvn/version "1.4.10"}

         ;; logging
         org.clojure/tools.logging         {:mvn/version "1.1.0"}
         logback-bundle/core-bundle        {:mvn/version "0.3.0"}
         org.slf4j/slf4j-api               {:mvn/version "1.7.30"}

         ;; storage
         cc.qbits/alia                     {:mvn/version "4.3.6"}
         cc.qbits/alia-async               {:mvn/version "4.3.6"}
         cc.qbits/hayt                     {:mvn/version "4.1.0"}

         ;; Lucene
         clucie/clucie                     {:mvn/version "0.4.2"}

         ;; messaging
         aleph/aleph                       {:mvn/version "0.4.6"}

         ;; benchmarking
         criterium/criterium               {:mvn/version "0.4.6"}

         ;; serialization / compression
         com.damballa/abracad              {:mvn/version "0.4.13"}
         com.taoensso/nippy                {:mvn/version "3.1.1"}
         org.xerial.snappy/snappy-java     {:mvn/version "1.1.8.2"}
         com.fluree/alphabase              {:mvn/version "3.2.1"}

         com.fluree/crypto                 {:mvn/version "0.3.5"}
         org.bouncycastle/bcprov-jdk15on   {:mvn/version "1.68"}}

 :paths ["src" "resources"]
 :aliases
 {:cljstest
  {:extra-paths ["test"]
   :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :main-opts ["-m" "cljs-test-runner.main"
               "-D" "doo.edn"
               "-c" "build-test.edn"
               "-x" "chrome-headless"]}

  :cljtest
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.732"}
                 org.clojure/test.check {:mvn/version "1.1.0"}}
   :main-opts ["-m" "kaocha.runner"]}

  :js-deps
  {:extra-deps {com.timetraveltoaster/target-bundle-libs {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "target-bundle-libs.core"]}

  :nodejs
  {:extra-paths ["src-nodejs"]
   :main-opts   ["-m" "cljs.main" "--compile-opts" "build-nodejs.edn" "--compile"]}

  :browser
  {:extra-paths ["src-cljs"]
   :main-opts   ["-m" "cljs.main" "--compile-opts" "build-browser.edn" "--compile"]}

  :webworker
  {:extra-paths ["src-cljs"]
   :main-opts ["-m" "cljs.main" "--compile-opts" "build-webworker.edn" "--compile"]}

  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
   :exec-fn hf.depstar/jar
   :exec-args {:jar "target/fluree-db.jar"}}

  :install
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "deps-deploy.deps-deploy" "install"
                "target/fluree-db.jar"]}

  :docs
  {:extra-paths ["src-docs"]
   :extra-deps  {codox/codox {:mvn/version "0.10.7"}}
   :main-opts   ["-m" "fluree.db.docs"]}

  :deploy
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
               "target/fluree-db.jar"]}}}
