{:deps  {org.clojure/clojure             {:mvn/version "1.11.3"}
         org.clojure/clojurescript       {:mvn/version "1.11.132"}
         org.clojure/core.async          {:mvn/version "1.6.681"}
         org.clojure/core.cache          {:mvn/version "1.1.234"}
         org.clojars.mmb90/cljs-cache    {:mvn/version "0.1.4"}
         org.clojure/data.avl            {:mvn/version "0.2.0"}
         org.clojure/data.xml            {:mvn/version "0.2.0-alpha9"}
         environ/environ                 {:mvn/version "1.2.0"}
         byte-streams/byte-streams       {:mvn/version "0.2.4"}
         cheshire/cheshire               {:mvn/version "5.13.0"}
         instaparse/instaparse           {:mvn/version "1.5.0"}
         metosin/malli                   {:mvn/version "0.16.2"}
         nano-id/nano-id                 {:mvn/version "1.1.0"}
         com.fluree/json-ld              {:git/url "https://github.com/fluree/json-ld.git"
                                          :git/sha "a27ddd5553d5f0dd0cc68bfc442d7b4bdedc0658"}

         ;; logging
         org.clojure/tools.logging       {:mvn/version "1.3.0"}
         ch.qos.logback/logback-classic  {:mvn/version "1.5.6"}
         org.slf4j/slf4j-api             {:mvn/version "2.0.13"}

         ;; Vector math implementation
         net.mikera/vectorz-clj          {:mvn/version "0.48.0"}

         ;; http
         http-kit/http-kit               {:mvn/version "2.8.0"}
         hato/hato                       {:mvn/version "1.0.0"}

         ;; benchmarking
         criterium/criterium             {:mvn/version "0.4.6"}

         ;; serialization / compression
         com.fluree/alphabase            {:mvn/version "3.3.0"}

         ;; cryptography
         com.fluree/crypto               {:mvn/version "3.0.0"}

         org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}

         ;; storage
         com.cognitect.aws/api           {:mvn/version "0.8.692"}
         com.cognitect.aws/endpoints     {:mvn/version "1.1.12.718"}
         com.cognitect.aws/s3            {:mvn/version "868.2.1580.0"}}

 :paths ["src/clj" "resources" "target/classes"]

 :deps/prep-lib {:alias  :build
                 :fn     compile
                 :ensure "target/classes"}

 :aliases
 {:build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.5"
                                               :git/sha "2a21b7a"}
                slipset/deps-deploy           {:mvn/version "0.2.2"}}
   :ns-default build}

  :dev
  {:extra-paths ["dev" "dev-resources" "src-cljs" "src-nodejs" "src-docs"]
   :extra-deps  {org.clojure/tools.namespace       {:mvn/version "1.5.0"}
                 criterium/criterium               {:mvn/version "0.4.6"}
                 figwheel-sidecar/figwheel-sidecar {:mvn/version "0.5.20"}
                 thheller/shadow-cljs              {:mvn/version "2.28.10"}}}

  :cljtest
  {:extra-paths ["test" "dev-resources" "test-resources"]
   :extra-deps  {lambdaisland/kaocha                   {:mvn/version "1.91.1392"}
                 org.clojure/test.check                {:mvn/version "1.1.1"}
                 io.github.cap10morgan/test-with-files {:git/tag "v1.0.1"
                                                        :git/sha "a48d6d0"}}
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:kaocha.filter/skip-meta [:pending]}}

  :pending-tests
  {:extra-paths ["test" "dev-resources" "test-resources"]
   :extra-deps  {lambdaisland/kaocha                   {:mvn/version "1.91.1392"}
                 org.clojure/test.check                {:mvn/version "1.1.1"}
                 io.github.cap10morgan/test-with-files {:git/tag "v1.0.1"
                                                        :git/sha "a48d6d0"}}
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:kaocha.filter/focus-meta [:pending]}}

  :cljstest
  {:extra-paths ["test" "dev-resources"]}

  :js-deps
  {:extra-deps {com.timetraveltoaster/target-bundle-libs {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "target-bundle-libs.core"]}

  :docs
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn    codox.main/generate-docs
   :exec-args  {:namespaces  [fluree.db.api]
                :description "Fluree DB Clojure API Documentation"
                :name        com.fluree/db
                :output-path "docs"}}

  :meta
  {:main-opts ["-m" "fluree.db.meta"]}

  :coverage
  {:extra-paths ["test"]
   :extra-deps  {cloverage/cloverage {:mvn/version "1.2.4"}}
   :main-opts   ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--output" "scanning_results/coverage"]}

  :eastwood
  {:extra-deps  {jonase/eastwood {:mvn/version "1.4.3"}}
   :main-opts   ["-m" "eastwood.lint"
                 {:source-paths ["src/clj" "src-docs"]
                  :test-paths   ["test"]
                  ;; TODO: Un-exclude this when it stops triggering false
                  ;;       positives on "UnsupportedOperationException empty is
                  ;;       not supported on Flake" when using the #Flake data
                  ;;       reader - WSM 2023-02-01
                  :exclude-linters [:implicit-dependencies]}]}

  :ancient
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "antq.core"]}

  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.05.24"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "--config" ".clj-kondo/config.edn"]}}}
