[{:context      {:ex "http://example.org/ns/"}
  :id           :ex/brian,
  :type         :ex/User,
  :schema/name  "Brian"
  :schema/email "brian@example.org"
  :schema/age   50
  :ex/favNums   7}
 {:context      {:ex "http://example.org/ns/"}
  :id           :ex/alice,
  :type         :ex/User,
  :schema/name  "Alice"
  :schema/email "alice@example.org"
  :schema/age   50
  :ex/favNums   [42, 76, 9]}
 {:context      {:ex "http://example.org/ns/"}
  :id           :ex/cam,
  :type         :ex/User,
  :schema/name  "Cam"
  :schema/email "cam@example.org"
  :schema/age   34
  :ex/favNums   [5, 10]
  :ex/friend    [:ex/brian :ex/alice]}]
