{:source-paths #{"src"}
 :linters      {:unresolved-symbol {:exclude [(fluree.db.util.core/catch*)]}}
 :lint-as      {instaparse.core/defparser clojure.core/def}
 :output       {:pattern "::{{level}} file={{filename}},line={{row}},col={{col}}::{{message}}"}}
