{:source-paths   #{"src"}
 :linters        {:unresolved-symbol {:exclude [(fluree.db.util.core/catch*)
                                                (test-with-files.tools/with-tmp-dir)
                                                goog.isObject]}}
 :lint-as        {instaparse.core/defparser clojure.core/def}
 :config-in-call {cljs.core/pr-sequential-writer {:ignore [:private-call]}}
 :config-in-ns   {fluree.db.json-ld.api {:ignore true}}
 :output         {:pattern "::{{level}} file={{filename}},line={{row}},col={{col}}::{{message}}"}}
