{:addData                                                                                                                                              {:sample 60, :mean 0.06710857739074075, :mean-time "67.108577 ms"},
 :addUpdateData                                                                                                                                        {:sample 60, :mean 0.12150407751111111, :mean-time "121.504078 ms"},
 {:select ["*"], :from [369435906932737 ["person/handle" "jdoe"] 387028092977153 ["person/handle" "zsmith"]]}                                          {:sample    60,
                                                                                                                                                        :mean      4.387543006003431E-4,
                                                                                                                                                        :mean-time "438.754301 µs"},
 "SELECT ?person WHERE { ?person fd:person/handle \"jdoe\". ?person fd:person/fullName ?fullName. }"                                                   {:sample    60,
                                                                                                                                                        :mean      0.013526926168243246,
                                                                                                                                                        :mean-time "13.526926 ms"},
 {:select "?nums", :where [["$fdb" nil "person/favNums" "?nums"]]}                                                                                     {:sample    60,
                                                                                                                                                        :mean      7.37656020379697E-5,
                                                                                                                                                        :mean-time "73.765602 µs"},
 {:select "(sample 10 ?nums)", :where [[nil "person/favNums" "?nums"]]}                                                                                {:sample    60,
                                                                                                                                                        :mean      8.844366226232394E-5,
                                                                                                                                                        :mean-time "88.443662 µs"},
 {:select ["handle" {"person/follows" ["handle"]}], :from "person"}                                                                                    {:sample    60,
                                                                                                                                                        :mean      2.8123573830713083E-4,
                                                                                                                                                        :mean-time "281.235738 µs"},
 {:select ["*"], :from ["person/handle" "jdoe"]}                                                                                                       {:sample 60, :mean 4.31639838670184E-4, :mean-time "431.639839 µs"},
 :data-txn                                                                                                                                             {:mean 2.1245E8, :mean-time "212.45 ms"},
 "SELECT ?person ?fullName ?favNums WHERE { ?person fd:person/handle \"jdoe\"; fd:person/fullName ?fullName; fd:person/favNums ?favNums. }"            {:sample    60,
                                                                                                                                                        :mean      0.019803274309150326,
                                                                                                                                                        :mean-time "19.803274 ms"},
 {:select ["handle" {"comment/_person" ["*" {:_as "comment", :_limit 1}]}], :from "person"}                                                            {:sample    60,
                                                                                                                                                        :mean      2.082442649492421E-4,
                                                                                                                                                        :mean-time "208.244265 µs"},
 {:query "{ graph {  chat { _id message } } }"}                                                                                                        {:sample 60, :mean 2.2722204223100077E-4, :mean-time "227.222042 µs"},
 {:select ["?name" "?artist" "?artwork" "?artworkLabel"],
  :where  [[["person/handle" "jdoe"] "person/favArtists" "?artist"]
           ["?artist" "artist/name" "?name"]
           ["$wd" "?artwork" "wdt:P170" "?creator"]
           ["$wd" "?creator" "?label" "?name"]]}                                                                                                       {:sample 60, :mean 0.058062528901754396, :mean-time "58.062529 ms"},
 {:query "query { block (from: 3, to: 5) }"}                                                                                                           {:sample 60, :mean 1.7958174632104045E-4, :mean-time "179.581746 µs"},
 {:select ["handle" {"fullName" [{:_as "name"}]}], :from "person"}                                                                                     {:sample    60,
                                                                                                                                                        :mean      1.8590305614927906E-4,
                                                                                                                                                        :mean-time "185.903056 µs"},
 {:select ["handle" {"person/follows" ["handle" {:_recur 10}]}], :from "person"}                                                                       {:sample    60,
                                                                                                                                                        :mean      5.059551442953587E-4,
                                                                                                                                                        :mean-time "505.955144 µs"},
 {:select ["*"], :from 369435906932737}                                                                                                                {:sample 60, :mean 4.166431126100881E-4, :mean-time "416.643113 µs"},
 {:block "PT1M"}                                                                                                                                       {:sample 60, :mean 3.2802963417666775E-4, :mean-time "328.029634 µs"},
 {:select ["*" {"chat/_person" ["*"]}], :from "person"}                                                                                                {:sample    60,
                                                                                                                                                        :mean      8.437149233305625E-4,
                                                                                                                                                        :mean-time "843.714923 µs"},
 {:query "{ graph { person { _id handle chat_Via_person (limit: 10) { instant message comments { message } } } } }"}                                   {:sample    60,
                                                                                                                                                        :mean      0.001087966493826494,
                                                                                                                                                        :mean-time "1.087966 ms"},
 {:select "(sum ?nums)", :where [[["person/handle" "zsmith"] "person/favNums" "?nums"]]}                                                               {:sample    60,
                                                                                                                                                        :mean      1.0793364606889345E-4,
                                                                                                                                                        :mean-time "107.933646 µs"},
 {:select ["*" {"chat/person" ["*"]}], :from "chat"}                                                                                                   {:sample 60, :mean 5.697967293055556E-4, :mean-time "569.796729 µs"},
 {:select "?nums",
  :where  [["$fdb" ["person/handle" "zsmith"] "person/favNums" "?nums"]
           ["$fdb" ["person/handle" "jdoe"] "person/favNums" "?nums"]]}                                                                                {:sample    60,
                                                                                                                                                        :mean      1.861000326724724E-4,
                                                                                                                                                        :mean-time "186.100033 µs"},
 {:block [3 5]}                                                                                                                                        {:sample 60, :mean 1.2277450338356614E-4, :mean-time "122.774503 µs"},
 {:select ["?handle" "?title" "?narrative_locationLabel"],
  :where  [["?user" "person/favMovies" "?movie"]
           ["?movie" "movie/title" "?title"]
           ["$wd" "?wdMovie" "?label" "?title"]
           ["$wd" "?wdMovie" "wdt:P840" "?narrative_location"]
           ["$wd" "?wdMovie" "wdt:P31" "wd:Q11424"]
           ["?user" "person/handle" "?handle"]]}                                                                                                       {:sample 60, :mean 0.030240119772058822, :mean-time "30.240120 ms"},
 {:chatQuery {:select ["*"], :from "chat"}, :personQuery {:select ["*"], :from "person"}}                                                              {:sample    60,
                                                                                                                                                        :mean      9.968116273088381E-4,
                                                                                                                                                        :mean-time "996.811627 µs"},
 {:select ["*"], :from "chat", :limit 100}                                                                                                             {:sample 60, :mean 1.7868306227862687E-4, :mean-time "178.683062 µs"},
 {:select ["*"], :from "chat", :block "PT5M"}                                                                                                          {:sample 60, :mean 2.175468949852833E-4, :mean-time "217.546895 µs"},
 {:block [3], :pretty-print true}                                                                                                                      {:sample 60, :mean 0.0016937884583052751, :mean-time "1.693788 ms"},
 {:select ["*"], :from "person/handle"}                                                                                                                {:sample 60, :mean 3.8243610798719964E-4, :mean-time "382.436108 µs"},
 {:select ["*"], :from "_collection"}                                                                                                                  {:sample 60, :mean 1.1004616187373143E-4, :mean-time "110.046162 µs"},
 {:select ["chat/message" "chat/person"], :from "chat", :limit 100}                                                                                    {:sample    60,
                                                                                                                                                        :mean      1.648046688494326E-4,
                                                                                                                                                        :mean-time "164.804669 µs"},
 "SELECT DISTINCT ?horse ?horseLabel ?mother { ?horse wdt:P31/wdt:P279* wd:Q726. OPTIONAL {?horse wdt:P25 ?mother. } }"                                {:sample    60,
                                                                                                                                                        :mean      0.07301267833777778,
                                                                                                                                                        :mean-time "73.012678 ms"},
 {:query "{ graph {  person { chat_Via_person { _id instant message } } } }"}                                                                          {:sample    60,
                                                                                                                                                        :mean      6.981039955270458E-4,
                                                                                                                                                        :mean-time "698.103996 µs"},
 {:block [3]}                                                                                                                                          {:sample 60, :mean 1.224079204197531E-4, :mean-time "122.407920 µs"},
 {:select ["*"], :from "chat", :block 2}                                                                                                               {:sample 60, :mean 7.708755345270474E-5, :mean-time "77.087553 µs"},
 "SELECT ?person WHERE { ?person fd:person/handle \"jdoe\", \"zsmith\". }"                                                                             {:sample    60,
                                                                                                                                                        :mean      0.006532778037690632,
                                                                                                                                                        :mean-time "6.532778 ms"},
 {:select ["?nums1" "?nums2"],
  :where  [["$fdb" ["person/handle" "zsmith"] "person/favNums" "?nums1"]
           ["$fdb" ["person/handle" "jdoe"] "person/favNums" "?nums2"]]}                                                                               {:sample    60,
                                                                                                                                                        :mean      2.001141612605433E-4,
                                                                                                                                                        :mean-time "200.114161 µs"},
 {:select ["*"], :from "chat", :offset 1}                                                                                                              {:sample 60, :mean 3.973363234737121E-4, :mean-time "397.336323 µs"},
 :addDeleteData                                                                                                                                        {:sample 60, :mean 0.12335315547407408, :mean-time "123.353155 ms"},
 {:query "query { block (from: 3, to: 3) }"}                                                                                                           {:sample 60, :mean 1.783919740520204E-4, :mean-time "178.391974 µs"},
 :coll-txn                                                                                                                                             {:mean 5.6055653E7, :mean-time "56.055653 ms"},
 {:select ["*" {"chat/_person" ["*" {"chat/person" ["*"]}]}], :from "person"}                                                                          {:sample    60,
                                                                                                                                                        :mean      9.319404505535057E-4,
                                                                                                                                                        :mean-time "931.940451 µs"},
 {:select "?nums", :where [["$fdb" ["person/handle" "zsmith"] "person/favNums" "?nums"]]}                                                              {:sample    60,
                                                                                                                                                        :mean      9.603282556925844E-5,
                                                                                                                                                        :mean-time "96.032826 µs"},
 {:query "query { block (from: 3) }"}                                                                                                                  {:sample 60, :mean 1.7382218736573186E-4, :mean-time "173.822187 µs"},
 {:query "{ graph { person { * } } }"}                                                                                                                 {:sample 60, :mean 5.890849049211045E-4, :mean-time "589.084905 µs"},
 {:select ["chat/message" "chat/instant"], :where "chat/instant > 1517437000000"}                                                                      {:sample    60,
                                                                                                                                                        :mean      1.7817459925462137E-4,
                                                                                                                                                        :mean-time "178.174599 µs"},
 {:block 3}                                                                                                                                            {:sample 60, :mean 1.2178411651301957E-4, :mean-time "121.784117 µs"},
 {:select ["*"], :from "chat", :limit 10, :offset 1}                                                                                                   {:sample    60,
                                                                                                                                                        :mean      3.9982901981266153E-4,
                                                                                                                                                        :mean-time "399.829020 µs"},
 {:query "{ graph { chat { _id message person { _id handle } } } }"}                                                                                   {:sample    60,
                                                                                                                                                        :mean      5.601428185319229E-4,
                                                                                                                                                        :mean-time "560.142819 µs"},
 :pred-txn                                                                                                                                             {:mean 1.7834E8, :mean-time "178.34 ms"},
 "SELECT ?person ?fullName ?favNums WHERE {?person fd:person/fullName ?fullName; fd:person/favNums ?favNums; fd:person/handle \"jdoe\", \"zsmith\". }" {:sample 60, :mean 0.020410977036000002, :mean-time "20.410977 ms"},
 {:select {"?artist" ["*" {"person/_favArtists" ["*"]}]}, :where [[nil "person/favArtists" "?artist"]]}
                                                                                                                                                       {:sample 60, :mean 0.0020165548620481926, :mean-time "2.016555 ms"},
 {:select ["?name" "?artist" "?artwork"],
  :where  [[["person/handle" "jdoe"] "person/favArtists" "?artist"]
           ["?artist" "artist/name" "?name"]
           ["$wd" "?artwork" "wdt:P170" "?creator" {:limit 5, :distinct false}]
           ["$wd" "?creator" "?label" "?name"]]}                                                                                                       {:sample 60, :mean 0.033470509584895836, :mean-time "33.470510 ms"},
 {:select ["handle" "fullName"], :from "person"}                                                                                                       {:sample 60, :mean 1.7735722486461575E-4, :mean-time "177.357225 µs"}
 {:history 369435906932737, :block 4}                                                                                                                  {:sample 60, :mean 3.947493698444895E-4, :mean-time "394.749370 µs"}
 {:history ["person/handle" "zsmith"], :block 4}                                                                                                       {:sample 60, :mean 4.595122450602969E-4, :mean-time "459.512245 µs"}
 {:history [["person/handle" "zsmith"] "person/follows"]}                                                                                              {:sample 60, :mean 4.3661441995934957E-4, :mean-time "436.614420 µs"}
 {:history [nil "person/handle" "jdoe"]}                                                                                                               {:sample 60, :mean 2.658978220561477E-4, :mean-time "265.897822 µs"}
 {:history [nil "person/handle" "jdoe"], :pretty-print true}                                                                                           {:sample 60, :mean 3.9321864548404184E-4, :mean-time "393.218645 µs"}}