[{:_id        "person$jdoe",
  :handle     "jdoe",
  :fullName   "Jane Doe",
  :age        25,
  :favNums    [1223 12 98 0 -2],
  :favArtists ["artist$1" "artist$2" "artist$3"],
  :follows    "person$zsmith",
  :favMovies  ["movie$1" "movie$2" "movie$3"]}
 {:_id        "person$zsmith",
  :handle     "zsmith",
  :fullName   "Zach Smith",
  :age        63,
  :favNums    [5 645 28 -1 1223],
  :favArtists ["artist$1"],
  :follows    "person$jdoe",
  :favMovies  ["movie$2" "movie$3"]}
 {:_id        "person$anguyen",
  :handle     "anguyen",
  :fullName   "Amy Nguyen",
  :age        34,
  :favNums    [7 98 0 2],
  :favArtists ["artist$2" "artist$3"],
  :follows    "person$jdoe",
  :favMovies  ["movie$3"]}
 {:_id        "person$dsanchez",
  :handle     "dsanchez",
  :fullName   "Diana Sanchez",
  :age        70,
  :favNums    [9 1950],
  :favArtists ["artist$2"],
  :follows    "person$anguyen",
  :favMovies  ["movie$1" "movie$2" "movie$3"]}
 {:_id      "chat",
  :message  "Hi! I'm chat from Jane.",
  :person   "person$jdoe",
  :instant  "#(- (now) 20000)",
  :comments ["comment$zsmith" "comment$anguyen"]}
 {:_id      "chat",
  :message  "Hi! I'm a chat from Diana.",
  :person   "person$dsanchez",
  :instant  "#(- (now) 5000)",
  :comments ["comment$zsmithagain" "comment$anguyenagain"]}
 {:_id "chat", :message "Hi! I'm a chat from Zach.", :person "person$zsmith", :instant "#(now)"}
 {:_id "comment$zsmith", :message "Zsmith is responding!", :person "person$zsmith"}
 {:_id "comment$anguyen", :message "Hi Jane!", :person "person$anguyen"}
 {:_id "comment$zsmithagain", :message "Welcome Diana!", :person "person$zsmith"}
 {:_id "comment$anguyenagain", :message "Welcome Diana! This is Amy.", :person "person$anguyen"}
 {:_id "artist$1", :name "Gustav Klimt"}
 {:_id "artist$2", :name "Augusta Savage"}
 {:_id "artist$3", :name "Jean-Michel Basquiat"}
 {:_id "movie$1", :title "The Shawshank Redemption"}
 {:_id "movie$2", :title "Hot Fuzz"}
 {:_id "movie$3", :title "Gran Torino"}]