<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration>
    <property scope="context" name="LOG_LEVEL" value="${LOG_LEVEL:-DEBUG}"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level) %cyan(%logger{24}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Optional override for specific namespaces can still be set via env-specific files -->
</configuration>
